In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('./fill_na.xlsx')
df

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07          NaN        NaN     NaN
2 2020-05-08      30.9343        NaN   rainy
3 2020-05-09          NaN   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382        NaN   sunny

### Filling all missing data with a common value

In [3]:
df.fillna(0)

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07       0.0000   0.000000       0
2 2020-05-08      30.9343   0.000000   rainy
3 2020-05-09       0.0000   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382   0.000000   sunny

### Treating individual columns

In [4]:
df.fillna({'temperature':0,'windSpeed':10,'status':'sunny'})

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07       0.0000  10.000000   sunny
2 2020-05-08      30.9343  10.000000   rainy
3 2020-05-09       0.0000   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382  10.000000   sunny

### Alternate method

In [5]:
df.status.fillna('windy')

0     sunny
1     windy
2     rainy
3    cloudy
4     rainy
5     sunny
Name: status, dtype: object

### forward fill row

In [6]:
df.fillna(method='ffill')

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07      35.6582  10.788378   sunny
2 2020-05-08      30.9343  10.788378   rainy
3 2020-05-09      30.9343   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382  19.012990   sunny

### Backward fill row

In [7]:
df.fillna(method='bfill')

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07      30.9343   6.889682   rainy
2 2020-05-08      30.9343   6.889682   rainy
3 2020-05-09      13.9082   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382        NaN   sunny

### FF column

In [8]:
df.fillna(method='ffill',axis='columns')

        date          temperature            windSpeed               status
0 2020-05-06              35.6582            10.788378                sunny
1 2020-05-07  2020-05-07 00:00:00  2020-05-07 00:00:00  2020-05-07 00:00:00
2 2020-05-08              30.9343              30.9343                rainy
3 2020-05-09  2020-05-09 00:00:00             6.889682               cloudy
4 2020-05-10              13.9082             19.01299                rainy
5 2020-05-11              23.9382              23.9382                sunny

### BF columns

In [9]:
df.fillna(method='bfill',axis='columns')

        date temperature  windSpeed  status
0 2020-05-06     35.6582  10.788378   sunny
1 2020-05-07         NaT        NaT     NaT
2 2020-05-08     30.9343      rainy   rainy
3 2020-05-09    6.889682   6.889682  cloudy
4 2020-05-10     13.9082   19.01299   rainy
5 2020-05-11     23.9382      sunny   sunny

### Limiting BF or FF

In [10]:
df.fillna(method='ffill',limit=1)

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07      35.6582  10.788378   sunny
2 2020-05-08      30.9343        NaN   rainy
3 2020-05-09      30.9343   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382  19.012990   sunny

### Filling with pandas object

In [11]:
df.fillna(df.mean())

TypeError: can only concatenate str (not "int") to str

### Filling for specific range of columns

In [ ]:
df.fillna(df.mean()['temperature':'windSpeed'])

### Interpolate missing values

#### Linear interpolate

In [ ]:
df.temperature.interpolate()

#### Time interpolate

df.interpolate(method='time')

#### other methods

In [ ]:
df.temperature.interpolate(method='barycentric')